title {
    text-align: center;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
  text-align: center;
  color: black
}

.grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    /* max-width: 500px;
    max-height: 1500px; */
    text-align: center;
    background-color: black;
  }
  
div > div {
    padding: 10px;
    font-size: 48;
    background-color: grey;
  }

.restart {
    text-align: center;
    margin: 60px;
}